<?xml version="1.0"?>
<config>
    <modules>
        <Route_Route>
            <version>1.1.1</version>
        </Route_Route>
    </modules>
    <default>
        <insurance>
            <route>
                <change_grid>1</change_grid>
                <is_taxable>0</is_taxable>
                <order_status_canceled>closed,canceled</order_status_canceled>
            </route>
        </insurance>
        <sales>
            <totals_sort>
                <fee>30</fee>
            </totals_sort>
        </sales>
    </default>
    <global>
        <blocks>
            <route>
                <class>Route_Route_Block</class>
            </route>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_additional>Route_Route_Block_Checkout_Onepage_Shipping_Method_Additional</onepage_shipping_method_additional>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Route_Route_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <route>
                <class>Route_Route_Helper</class>
            </route>
            <tax>
                <rewrite>
                    <data>Route_Route_Helper_Tax</data>
                </rewrite>
            </tax>
        </helpers>
        <models>
            <route>
                <class>Route_Route_Model</class>
                <resourceModel>route_resource</resourceModel>
            </route>
            <route_resource>
                <class>Route_Route_Model_Resource</class>
                <entities>
                    <route_operation_fallback>
                        <table>route_operation_fallback</table>
                    </route_operation_fallback>
                </entities>
            </route_resource>
            <paypal>
                <rewrite>
                    <cart>Route_Route_Model_Paypal_Cart</cart>
                </rewrite>
            </paypal>
        </models>
        <resources>
            <route_setup>
                <setup>
                    <module>Route_Route</module>
                </setup>
            </route_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <route>
                        <type>singleton</type>
                        <class>route/observer</class>
                        <method>orderComplete</method>
                    </route>
                </observers>
            </sales_order_place_after>
            <sales_order_shipment_track_save_after>
                <observers>
                    <shipment_post_event>
                        <type>singleton</type>
                        <class>route/observer</class>
                        <method>salesOrderShipmentTrackSaveAfter</method>
                    </shipment_post_event>
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_shipment_track_delete_before>
                <observers>
                    <shipment_remove_event>
                        <type>singleton</type>
                        <class>route/observer</class>
                        <method>beforeRemoveTrack</method>
                    </shipment_remove_event>
                </observers>
            </sales_order_shipment_track_delete_before>
            <checkout_submit_all_after>
                <observers>
                    <route_order_update>
                        <type>singleton</type>
                        <class>route/observer</class>
                        <method>salesOrderSave</method>
                    </route_order_update>
                </observers>
            </checkout_submit_all_after>
            <sales_order_save_after>
                <observers>
                    <route_order_update_after>
                        <type>singleton</type>
                        <class>route/observer</class>
                        <method>salesOrderSave</method>
                    </route_order_update_after>
                </observers>
            </sales_order_save_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <fee>
                        <class>route/sales_quote_address_total_fee</class>
                        <after>subtotal,freeshipping,tax_subtotal,msrp,shipping,tax</after>
                        <before>giftcardaccount,grand_total,giftcardcredit_after_tax,giftvoucher_after_tax</before>
                    </fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>route/sales_order_total_invoice_fee</class>
                        <after>subtotal,freeshipping,tax_subtotal,msrp,shipping,tax</after>
                        <before>giftcardaccount,grand_total,giftcardcredit_after_tax,giftvoucher_after_tax</before>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>route/sales_order_total_creditmemo_fee</class>
                        <after>subtotal,freeshipping,tax_subtotal,msrp,shipping,tax</after>
                        <before>giftcardaccount,grand_total,giftcardcredit_after_tax,giftvoucher_after_tax</before>
                    </fee>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount>
                    <to_order>*</to_order>
                </fee_amount>
                <base_fee_amount>
                    <to_order>*</to_order>
                </base_fee_amount>
                <fee_tax_amount>
                    <to_order>*</to_order>
                </fee_tax_amount>
                <base_fee_tax_amount>
                    <to_order>*</to_order>
                </base_fee_tax_amount>
                <route_is_insured>
                    <to_order>*</to_order>
                </route_is_insured>
                <route_order_id>
                    <to_order>*</to_order>
                </route_order_id>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <fee translate="title">
                    <title>Route insurance</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </fee>
            </totals>
        </pdf>
    </global>
    <frontend>
        <routers>
            <route>
                <use>standard</use>
                <args>
                    <module>Route_Route</module>
                    <frontName>route</frontName>
                </args>
            </route>
        </routers>
        <layout>
            <updates>
                <route>
                    <file>route.xml</file>
                </route>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <insurance translate="title">
                                            <title>Route Insurance Integration</title>
                                        </insurance>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <route>
                    <file>route.xml</file>
                </route>
            </updates>
        </layout>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <route_reset_checklist>
                        <class>route/observer</class>
                        <method>resetChecklist</method>
                    </route_reset_checklist>
                    <route_registration>
                        <class>route/observer</class>
                        <method>registration</method>
                    </route_registration>
                </observers>
            </admin_session_user_login_success>
            <controller_action_predispatch_adminhtml_index_index>
               <observers>
                   <route_registration_index_adminhtml>
                       <class>route/observer</class>
                       <method>registration</method>
                   </route_registration_index_adminhtml>
            </observers>
            </controller_action_predispatch_adminhtml_index_index>
            <controller_action_layout_load_before>
                <observers>
                    <route_shipperhq_adminhtml>
                        <class>route/observer</class>
                        <method>checkShipperHQHandle</method>
                    </route_shipperhq_adminhtml>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <retry_fallback_operations>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>route/observer::retryFallbackOperations</model>
                </run>
            </retry_fallback_operations>
            <resend_orders_operations>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>route/observer::resendOrdersOperations</model>
                </run>
            </resend_orders_operations>
            <resend_shipments_operations_weekly>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>route/observer::resendShipmentsOperationsWeekly</model>
                </run>
            </resend_shipments_operations_weekly>
            <resend_shipments_operations_hourly>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>route/observer::resendShipmentsOperationsHourly</model>
                </run>
            </resend_shipments_operations_hourly>
            <clear_fallback_operations>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>route/observer::clearFallbackOperations</model>
                </run>
            </clear_fallback_operations>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <route>
                <use>admin</use>
                <args>
                    <frontName>route</frontName>
                    <module>Route_Route_Adminhtml</module>
                </args>
            </route>
        </routers>
    </admin>
</config>
